@import "../../theme/theme";

.NavButton {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  margin: 0 0.5rem;
  padding-bottom: 0.5rem;
  cursor: pointer;
  user-select: none;
  &:hover {
    color: $primary;
    opacity: 0.8;
  }
  &.active {
    border-bottom: 2px solid $primary;
  }

  .Label {
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 500;
  }
}
