@import "../../theme/theme";

.StepOneWrapper {
  max-width: 90%;
  width: 23rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  border: 1px solid $primary;
  border-radius: 5px;
  margin: auto;
  background-color: white;

  .header {
    font-size: 1.1rem;
    background-color: $primary-light;
    padding: 0.5rem 0.5rem;
    color: $primary;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    justify-content: space-between;
    display: flex;
  }
  .content {
    padding: 0rem 1.5rem;
  }
  .FormRow {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    margin: 1rem 0;
  }
  .FormCol {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 0 0.5rem 0 0;
  }

  .footer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: $primary-light;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    .button {
      background-color: $primary;
      border-radius: 4px;
      transition: all 300ms ease;
      padding: 0.4rem 1.5rem;
      font-size: 0.9rem;
      line-height: 0.9rem;
      height: unset;
    }
    .loading {
      opacity: 0.5;
    }
    .disabledButton {
      background-color: lightgray;
      border-radius: 4px;
      transition: all 300ms ease;
      padding: 0.4rem 1.5rem;
      font-size: 0.9rem;
      line-height: 0.9rem;
      height: unset;
      color: $primary-dark;
    }
  }
}
