.LPContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;
  .LPLogoWrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: white;
    @media (max-width: 768px) {
      display: none;
    }
    .LPLogo {
      width: 13rem;
      height: 3.5rem;
      position: relative;
    }
  }
  .LPHeaderWrapper {
    display: none;
    @media (max-width: 768px) {
      display: flex;
    }
  }
}
