@import '../../theme/theme';

.ConstructionServiceContainer {
	display: flex;
	align-items: center;
	background-color: white;
	height: 400px;
	width: 100%;
	position: relative;
	@media (max-width: 767px) {
		flex-direction: column;
		margin: 3rem 0;
	}
	.ConstructionServiceBlock {
		display: flex;
		flex-direction: column;
		padding-left: 8%;
		z-index: 1;
		@media (max-width: 767px) {
			padding: 0;
		}
		.ConstructionServiceLabel {
			font-weight: 500;
			font-size: 2.7rem;
			width: 93%;
			@media (max-width: 767px) {
				width: 100%;
				font-size: 1.7rem;
				text-align: center;
			}
		}
		.ConstructionServiceSeparationBlock {
			display: flex;
			padding: 5% 0;
			@media (max-width: 767px) {
				flex-direction: column;
				text-align: center;
			}
			.ConstructionServiceSeparationLabel {
				width: 22%;
				border-right: 1px solid #e8dcdc;
				padding-left: 1.1rem;
				& .ConstructionServiceCounts {
					font-size: 1.5rem;
					color: $primary;
					font-weight: 500;
				}
				.ConstructionServiceCountLabel {
					font-size: 0.95rem;
				}
				@media (max-width: 767px) {
					border: none;
					width: 100%;
					padding: 0;
				}
			}
		}
		.ConstructionServiceSeparationLabel:last-child {
			border: none;
		}
		.button {
			background-color: $primary;
			border-radius: 4px;
			transition: all 300ms ease;
			padding: 0.5rem 2rem;
			width: fit-content;
			font-weight: 500;
			height: 3rem;
			@media (max-width: 767px) {
				margin: 0 auto;
				height: 2rem;
			}
		}
		.buttonArrow {
			font-size: 23px;
			padding-left: 6%;
		}
		.buildBtnBlock {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			white-space: nowrap;
		}
		.attributeLabel {
			width: 10rem;
			padding-right: 1rem;
			@media screen and (max-width: 400px) {
				align-items: center;
				justify-content: center;
				display: flex;
				flex-direction: column;
			}
			.attributeCounts {
				font-size: 1.5rem;
				color: $primary;
				font-weight: 500;
				padding-left: 0.5rem;
			}
			.attributeCountWrapper {
				display: flex;
				align-items: flex-end;
			}
			.attributeCountLabel {
				margin-top: 0.5rem;
				font-size: 1rem;
				@media screen and (max-width: 400px) {
					width: 5rem;
				}
			}
			@media (max-width: 767px) {
				border: none;
				width: 100%;
				padding: 0;
			}
			@media (max-width: 568px) {
				.attributeCounts {
					font-size: 1.2rem;
				}
				.attributeCountWrapper {
					flex-direction: column;
					justify-content: center;
					align-items: center;
				}
				.attributeCountLabel {
					margin-top: 0.5rem;
					font-size: 0.8rem;
					text-align: center;
				}
			}
		}
	}
	.imgBlock {
		width: 37%;
		position: absolute;
		right: 0;
		bottom: 0;
		height: 100%;
		@media (max-width: 767px) {
			position: static;
			width: 82%;
			padding: 0;
		}
	}
}
